/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require material_icons
 *= require_self
 */
@import 'materialize';

a {
  color: #AE9890;
  border-bottom: 1px solid #F8CD9E;
}

.footer {
  margin-top: 200px;
}
.nav-wrapper {
  background-color: #FB9D7E;
}
.mainimages {
  position: relative;
}
.mainimages h1 {
  position: absolute;
  color: white;
  top: 30%;
  left: 42%;
}
.maintext h2{
  color: #FB9D7E;
}
.icons i {
  color: #F8CD9E;
  margin-top: 50px;
}
.icons h5 {
  color: #AE9890;
}
.searchbtn a{
  background-color: #F8CD9E;
}
.searchbtn input {
  color: #AE9890;
}
.searchbtn p {
  color: #AE9890;
}
.pokemons {
  overflow: scroll;
  display: flex;
}
.pokemaintext h3{
  color: #FB9D7E;
}
table {
  margin-top: 50px;

  td {
    color: #AE9890;
  }
  th{
    color: #F8CD9E;
  }
}

.newmaintext h3{
  color: #FB9D7E;
}
.card {
  background-color: #AE9890;
  width: 70%;
  margin: 0 auto;
}
.pokedes {
  width: 50%;
}
.desc {
  width: 70%;
  margin: 50px auto;
  margin-bottom: 100px;
}
.brand-logo{
  margin-left: 20px;
}
.fav-icons {
  display: flex;
  a {
    line-height: 65px;
    margin-right: 10px;
    color: #FB9D7E;
    border: none;
  }
}
.not-fav {
  display: flex;
  a {
    line-height: 65px;
    margin-right: 10px;
    color: #AE9890;
    border: none;
  }
}

.card2 {
  background-color: white;
}
.card3 {
  background-color: white;
  overflow: scroll;
}
.userinfo {
  color: #AE9890;
  margin: 0 auto;
  p {
    font-size: 20px;
    border-bottom: 1px solid #F8CD9E;
    padding-top: 50px;
  }
}
.profile_header {
  color: #FB9D7E;
  margin-bottom: 70px;
  margin-top: 70px;
}
.card-image {
  padding: 40px;
}
.havepokemons{
  margin-top: 50px;
  h5{
    color: #FB9D7E;
  }
}
.havepokemon {
  display: flex;
}

.comment_card {
  background-color: white;
}
.comment_name {
  display: flex;
  color: #AE9890;
}
.comment_text {
  margin-top: -20px;
  color: #AE9890;
  display: flex;
}
.comment-area {
  width: 70%;
  margin-left: 350px;
}
.comment-btn {
  input {
    color: white;
  }
}